
/* Global rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary:  hsl(322, 100%, 66%);
    --secandory1: hsl(193, 100%, 96%);
    --secandory2: hsl(192, 100%, 9%);
    --secandory3: hsl(208, 11%, 55%);
}

body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

ul , ol {
    list-style: none;
}





/* End Global rules */


/* Start Header style */

.nav .logo {
    width: 130px;
    height: 30px;
}

.nav a:hover {
    background-color: var(--secandory2);
    color: white;
}


/* Mobile Screen */

@media (min-width:375px) {
    header .big_Wrapper {
        background-image: url(/huddle-landing-page-with-alternating-feature-blocks-master/images/bg-hero-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #ecfaff;
        width: 100%;
        height: auto;
        padding-left: 30px ;
        padding-right: 30px;
        overflow: hidden;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
        padding-top: 50px;
    }
    

    .nav a {
        width: 150px ;
        padding: 10px;
        background-color: white;
        border-radius: 25px;
        box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.226) ;
        color: var(--secandory2);
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }

    .landing_Content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .landing_Content .left .big-title {
        padding-top: 30px;
        font-family: 'Poppins', sans-serif;
        color: var(--secandory2);
        font-weight: 400;
        line-height: 1.6;
    }

    .landing_Content .left .text {
        width: 90%;
        font-family: 'Open Sans', sans-serif;
        color: var(--secandory2);
        font-weight: 400;
        line-height: 1.4;
        margin: 20px auto;
    }

    .landing_Content .right .mock {
        padding-top: 40px;
    }
    
    .landing_Content .right img {
        width: 500px;
        height: 350px;
    }

    .landing_Content .left .btn-container {
        display: inline-block;
        padding: 16px 120px;
        border-radius: 25px;
        background-color: var(--primary);
        margin-top: 20px;
    }
    
    .landing_Content .left .btn-container a {
        font-family: sans-serif;
        color: white;
    }

}

/* Desktop Screen */

@media (min-width:1400px) {
    header .big_Wrapper {
        background-image: url(/huddle-landing-page-with-alternating-feature-blocks-master/images/bg-hero-desktop.svg);
        background-size: cover;
        background-color: #ecfaff;
        width: 100%;
        height: 100vh;
        padding-left: 30px ;
        padding-right: 30px;
    }

    .nav {
        width: 90%;
        margin: 0 auto;
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
    }
    
    .nav a {
        width: 200px ;
        padding: 10px;
        background-color: white;
        border-radius: 25px;
        box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.226) ;
        color: var(--secandory2);
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }

    .landing_Content {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
    }

    .landing_Content .left {
        text-align: left;
    }

    .landing_Content .left .big-title {
        font-family: 'Poppins', sans-serif;
        text-align: left;
        color: var(--secandory2);
        font-weight: 600;
        line-height: 1.6;
    }

    .landing_Content .left .text {
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        text-align: left;
        color: var(--secandory2);
        font-weight: 400;
        line-height: 1.4;
        margin-top: 20px;
    }

    .landing_Content .right img {
        width: 650px;
        height: 450px;
    }

    .landing_Content .left .btn-container {
        display: inline-block;
        padding: 16px 75px;
        border-radius: 25px;
        background-color: var(--primary);
        margin-top: 20px;
    }
    
    .landing_Content .left .btn-container a {
        font-family: sans-serif;
        color: white;
    }
    
    
}



/* End Header style */

/* Start main content  */

.cards_se {
    margin: 65px 0;
}

.cards_se .container {
    padding: 15px;
}

.cards_se .allCards {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}


/* Mobile Screen */

@media (min-width:375px ) {
    .cards_se .allCards .cardInfo {
        background-color: white;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        border-radius: 25px;
        box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.226) ;
    }

    .allCards .cardInfo .img_se {
        margin: 50px 0;
    }

    .allCards .cardInfo h1 {
        margin-bottom: 30px;
    }

    .allCards .cardInfo p {
        width: 90%;
        font-family: 'Open Sans', sans-serif;
        color: rgb(0 37 46 / 60%);
        font-weight: 500;
        line-height: 1.5;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .allCards .img_se img {
        width: 300px;
        height: 300px;
    }
    
}


/* Desktop Screen */

@media (min-width:1400px ) {
    .cards_se .allCards {
        width: 90%;
        margin: 150px auto;
    }
    .cards_se .allCards .cardInfo {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        background-color: white;
        text-align: center;
        border-radius: 25px;
        box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.226) ;
    }

    .cards_se .allCards .cardInfo:nth-child(2) {
        flex-direction: row-reverse;
    }

    .allCards .cardInfo .big-content {
        display: flex;
        flex-direction: column;
        width: 60%;
        text-align: left;
    }

    
    .allCards .cardInfo .img_se {
        margin: 50px 0;
    }

    .allCards .cardInfo h1 {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .allCards .cardInfo p {
        width: 70%;
        font-family: 'Open Sans', sans-serif;
        color: rgb(0 37 46 / 60%);
        font-weight: 500;
        line-height: 1.5;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .allCards .img_se img {
        width: 300px;
        height: 300px;
    }
    
    
}

/************** Start footer **************/

.container {
    padding: 15px;
}

.footer-parent {
    position: relative;
}


footer .cardInfo h2 {
    margin-top: 20px;
    width: 90%;
}

footer .cardInfo .btn-container {
    display: inline-block;
    padding: 16px 60px;
    border-radius: 25px;
    background-color: var(--primary);
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.226) ;

}

footer .cardInfo .btn-container a {
    color: white;
    font-size: 1.2rem;
}

.cotnent-footer .left-footer .logo path {
    fill: white;
}

.cotnent-footer .left-footer .logo , .cotnent-footer .left-footer .locaion
, .cotnent-footer .left-footer .phone , .cotnent-footer .left-footer .email {
    margin-bottom: 30px;
    line-height: 1.6;

}


.cotnent-footer .left-footer  .locaion , .cotnent-footer .left-footer  .phone
,.cotnent-footer .left-footer  .email  {
    position: relative;
    padding-left: 40px;
}

.cotnent-footer .left-footer  .locaion i , .cotnent-footer .left-footer  .phone i
,.cotnent-footer .left-footer  .email i {
    position: absolute;
    top: 5px;
    left: 0;
}


.cotnent-footer .right-footer .social i {
    margin-left: 20px;
    padding: 15px 18px;
    border: 2px solid white;
    border-radius: 50%;
}

.cotnent-footer .right-footer p {
    padding-top: 25px;
    Letter-Spacing: 1.5px;
}


/*************************** Mobile screen ***************************/

@media (min-width:375px) {
    footer {
        width: 100%;
        height: 170vh;
        margin-top: 50px;
        background-color: var(--secandory2);
    }

    
    footer .card-holder {
        position: absolute;
        top: -125px;
        left: 50%;
        width: 90%;
        margin-left: -45% ;
    }


    footer .card-holder .cardInfo {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: white;
        text-align: center;
        border-radius: 25px;
        box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.226) ;
        height: 250px;
    }

    .cotnent-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 140vh;
        color: white;
    }

    .cotnent-footer .left-footer {
        margin-top: 250px;
        width: 90%;
    }



    .cotnent-footer .center-footer .nav-links .first li , 
    .cotnent-footer .center-footer .nav-links .secand li {
        padding: 12px 10px;
    }

    .cotnent-footer .right-footer  {
        text-align: center;
        padding-top: 50px;
    }

    .cotnent-footer .right-footer p {
        padding-top: 25px;
        Letter-Spacing: 1.5px;
    }
    

    .cotnent-footer .right-footer .social {
        margin-bottom: 25px ;
    }


    
}

/************************** Desktop screen **************************/

@media (min-width:1400px) {
    footer {
        width: 100%;
        height: 80vh;
        margin-top: 50px;
        background-color: var(--secandory2);
    }

    footer .card-holder {
        position: absolute;
        top: -125px;
        left: 50%;
        width: 50%;
        margin-left: -25% ;
    }


    footer .card-holder .cardInfo {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: white;
        text-align: center;
        border-radius: 25px;
        box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.226) ;
        height: 250px;
    }

    .cotnent-footer {
        padding-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 60vh;
        color: white;
    }

    .cotnent-footer .left-footer {
        margin-top: 250px;
        width: 30%;
    }

    .cotnent-footer .right-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 70vh;
    }

    .cotnent-footer .right-footer .social {
        margin-bottom: 25px ;
        padding-top: 250px;
    }


    .cotnent-footer .center-footer .nav-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 150%;
        margin-top: 120px;
    }

    .cotnent-footer .center-footer .nav-links li {
        margin-bottom: 20px;
    }
    


}







